<html>
<head>
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script type="module" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>
  <title>Blog Listing</title>
</head>
<body>
<div id="app"></div>
</body>
</html>